@font-face {
    font-family: 'hind_siliguribold';
    src: url('../fonts/hindsiliguri-bold-webfont.woff2') format('woff2'),
         url('../fonts/hindsiliguri-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hind_siligurilight';
    src: url('../fonts/hindsiliguri-light-webfont.woff2') format('woff2'),
         url('../fonts/hindsiliguri-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hind_siligurimedium';
    src: url('../fonts/hindsiliguri-medium-webfont.woff2') format('woff2'),
         url('../fonts/hindsiliguri-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hind_siliguriregular';
    src: url('../fonts/hindsiliguri-regular-webfont.woff2') format('woff2'),
         url('../fonts/hindsiliguri-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hind_siligurisemibold';
    src: url('../fonts/hindsiliguri-semibold-webfont.woff2') format('woff2'),
         url('../fonts/hindsiliguri-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'Hind Siliguri', sans-serif;
}

h1, h2, h3, h4, h5, h6 {font-family: 'Hind Siliguri', sans-serif;}

#flashMessage {
    position: absolute;
    z-index: 999;
    width: 300px;
    height: auto;
    top: 40%;
    right: 0%;
}