body {
	font-family: 'Hind Siliguri', sans-serif;
}

h1, h2, h3, h4, h5, h6 {font-family: 'Galada', cursive;}

h3 span {
	display: block;
	font-family: 'Galada', cursive;
	font-weight: 400;
	font-size: 60%;
}

h1 span {
	font-family: 'Galada', cursive;
	font-weight: 400;
	font-size: 50%;
}

h1 span a, h1 a {
	text-decoration: none;
}

p {
	font-size: 90%;
}